body{
	background-color: #3F51B5;
	color:#FFFFFF !important;
	font-size:5em;
	
}

#mainDiv
{
	display: -webkit-flex;
    flex-direction: column;
    align-items: center;	
}

#buttonHolder
{
	display:-webkit-flex;
	justify-content: space-around;
}

.addButton
{
	width:1.5em;	
}

.button, .addButton
{
	background-color:black;
	padding-left:.25em;
	padding-right:.25em;
	border-radius: .25em;
	margin-top:.25em;
	margin: .1em;
}

#editDiv>.addButton
{
	font-size: .5em;
}


#recipeNames
{
	display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.hide
{
	height: 0em !important;
	font-size:0em !important;
	overflow:hidden !important;
	
	padding:0em !important;
	border:0em !important;
}


#backArrow
{
	position:absolute;
	margin-top: -.3em;
}

.body
{
	display:-webkit-flex;
	flex-direction:column;
	width:100%;
}

#currentRecipeTitle
{
	font-st
}

#unsavedData
{
	background-color: red;
	position: absolute;
	bottom:0em;
	left:0em;
	
	height:1.5em;
	
	width:100%;
	
	margin:0em;
	padding:0em;
	border:0em;
	
	overflow:hidden;
	
	font-size:.5em;
	text-align:center;
	
	transition: height 0.8s;
}

#notificationInner
{
	height:auto;
}

#notificationX
{
	position:absolute;
	top:0;
	left:20;
	font-size:40 !important;
	
	margin:0;
	border:0;
	padding:0;
}

#notifications
{
	font-size:1em !important;
	height: 3em;
	width:100%;
	background-color:white;
	
	margin:0em;
	padding:0em;
	border:0em;
	
	position:absolute;
	top:0em;
	left:0em;
	
	color:black;
	text-align:center;
		
	transition: height 0.8s, font-size 0.8s;
	
	z-index:1;
}

#editDiv
{
	display:-webkit-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.editStep
{
	width:100%;
}

.sectionTitle
{
	text-align:center;
}

















